.tier-text-wrapper {
  text-align: center;
  width: 100%;
}

.tier-text {
  color: #e37777;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.cell-wrapper {
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  gap: 5px;
}

.student-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}

.student-name {
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
}

.student-rarity {
  font-family: "Chakra Petch", sans-serif;
  font-size: 18px;
}
