.top-bar {
  padding-top: 20px;
  background: #1c1d21;
  height: 100%;
}

.title-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-text {
  margin: 0;
  text-align: center;
  font-family: "Chakra Petch", sans-serif;
  font-size: 30px;
}
.local-time {
  font-family: "Chakra Petch", sans-serif;
  font-size: 20px;
}

.header-highlight {
  color: red;
}
